/*pricing-toggler-month-and-anual*/
.pricing_table_main
{
  height: auto;
  width: 100%;
}

.pricing_table_switch_section
{
  display: flex;
  height: auto;
  justify-content: center;
  margin-bottom: 50px;
  text-align: center;
  width: 100%;
}

.mask_box
{
  align-items: center;
  background: #f5f7fa;
  border-radius: 30px;
  display: flex;
  height: 61px;
  justify-content: space-between;
  padding: 8px;
  position: relative;
  width: 200px;

}

.mask_box .mask
{
  background: #ffffff;
  border-radius: 20px;
  box-shadow: 1px 0 2px #ffffff;
  height: 40px;
  position: absolute;
  right: 93px;
  transition: all 0.5s ease;
  width: 100px;

}

.pricing_lower_deck
{
  display: flex;
  flex-direction: column;
}

.pricing_btn
{
  font-size: 14px;
  font-weight: 600;
  padding-top: 10px;
  text-align: center;
  text-transform: none !important;
  width: 100px;
}

/*pricing-toggler-month-and-anual*/
/*pricing-table-card-style*/
.pricing_table_pricing_card_section_main
{

  display: flex;
  justify-content: space-between;
}

.pricing_table_card
{
  background: #ffffff;
  border: 1px solid #eef1f3;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  padding-bottom: 24px;
  width: 100%;
}

.pricing_table_card:hover
{
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: .3s ease-in-out;
}

.pricing_table_card:first-child
{
  margin-left: 0;
}

.pricing_upper_deck, .pricing_lower_deck
{
  /*border: 2px solid red;*/
  padding: 30px;
}

.pricing_upper_deck
{
  border-bottom: 1px solid #eef1f3;
}

.pricing_card_title
{
  color: #0a3450;
  font-size: 20px;
  font-weight: 600;
}

.pricing_card_feature_detail
{
  color: #607080;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.pricing_card_actual_price_detail
{
  color: #0a3450;
  font-size: 28px;
  font-weight: 600;
}

.pricing_price_detail_span
{
  color: #607080;
  font-size: 14px;
  /*font-style: italic;*/
  font-weight: normal;
}

.pricing_card_modal_for_enterprise
{
  color: #0a3450;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 24px;
}

.pricing_card_modal_for_enterprise_offer
{
  color: #34a853;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  margin-top: 0px;
}

.pricing_card_modal_for_enterprise_custom
{
  color: #0a3450;
  font-size: 12px;
  font-weight: 500;
  line-height: 24px;
  margin-top: -12px;
}

.pricing_card_title, .pricing_card_feature_detail, .pricing_card_actual_price_detail
{
  margin-bottom: 20px;
}

.pricing_more_detail_box
{
  /*border: 2px solid blue;*/
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  /*position: relative;*/

}

.pricing_detail_box_tile
{
  color: #0a3450;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 20px;
}

.pricing_detail_list
{
  list-style: none;
  margin: 0;
  padding: 0;
}

.pricing_detail_list_item
{
  align-items: start;
  color: #607080;
  display: flex;
  font-size: 12px;
  font-weight: 400;
  margin-bottom: 20px;
}

.pricing_detail_list_item:last-child
{
  margin-bottom: 0;
}

.right_icon
{
  margin-right: 15px;
}

.pricing_card_btn_outline
{
  background: #ffffff;
  border: 1px solid #1976d2;
  border-radius: 30px;
  color: #1976d2;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  padding: 12px 24px;
  text-align: center;
}

.pricing_card_btn_outline:hover
{
  background: #1976d2;
  color: #ffffff;
  transition: all 0.5s ease-in-out;
}

/*pricing-table-card-style*/

/*tablet-responsive*/
@media screen and (min-width: 768px) and (max-width: 1024px)
{
  .pricing_table_pricing_card_section_main
  {
    flex-wrap: wrap;
    justify-content: center;
  }

  .pricing_table_card
  {
    margin-left: 0;
  }

  .pricing_table_card
  {
    margin-bottom: 40px;
  }

  .pricing_table_card:last-child
  {
    margin-bottom: 0;
  }
}

/*tablet-responsive*/
/*mobile-responsive*/
@media screen and (min-width: 320px) and (max-width: 767px)
{
  .pricing_table_pricing_card_section_main
  {
    flex-wrap: wrap;
    justify-content: center;
  }

  .pricing_table_card
  {
    margin-left: 0;
  }

  .pricing_table_card
  {
    margin-bottom: 20px;
  }

  .pricing_table_card:last-child
  {
    margin-bottom: 0;
  }

  .pricing_package_main
  {
    padding: 30px 0;
  }

  .pricing_table_switch_section
  {
    margin-bottom: 30px;
    position: relative;
    /*z-index: -1;*/
  }

  .pricing_upper_deck, .pricing_lower_deck
  {
    padding: 20px;
  }

  .pricing_card_title
  {
    font-size: 20px;
  }

  .pricing_card_actual_price_detail
  {
    font-size: 36px;
    line-height: 1.5;
  }

  .pricing_card_title, .pricing_card_feature_detail, .pricing_card_actual_price_detail
  {
    margin-bottom: 16px;
  }

  .pricing_detail_list_item
  {
    line-height: 1.5;
  }

  .pricing_card_btn_outline
  {
    line-height: 1.5;
    padding: 12px 26px;
  }

  .pricing_more_detail_box
  {
    margin-bottom: 0;
  }
}

/*mobile-responsive*/
