.blog_footer_main
{
  background: #f5f7fa;
  border-radius: 10px;
  display: flex;
  height: auto;
  justify-content: space-between;
  padding: 30px;
  width: 100%;
}

.blog_footer_publisher_detail
{
  align-items: center;
  display: flex;
  height: auto;
  justify-content: space-between;
  width: 255px;
}

.blog_footer_image_wrapper
{
  border-radius: 50%;
  height: auto;
  width: 64px;
}

.blog_footer_image_wrapper .blog_footer_image
{
  border-radius: 50%;
  height: auto;
  width: 100%;
}

.blog_footer_text_box_wrapper
{
  margin-left: 20px;
}

.blog_footer_text_box_wrapper .blog_footer_text_primary
{
  color: #0a3450;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  margin-bottom: 5px;
}

.blog_footer_text_box_wrapper .blog_footer_text_secondary
{
  color: #607080;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.blog_footer_publisher_logo .blog_footer_logo_image_wrapper
{
  height: auto;
  width: 200px;
}

.blog_footer_publisher_logo .blog_footer_logo_image_wrapper .blog_footer_logo
{
  height: auto;
  width: 100%;
}

/*mobile-responsive*/
@media screen and (min-width: 320px) and (max-width: 767px)
{
  .blog_footer_main
  {
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
  }

  .blog_footer_publisher_detail
  {
    flex-wrap: wrap;
    justify-content: unset;
  }

  .blog_footer_publisher_logo
  {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }
}

/*mobile-responsive*/
