
.blog_container
{
  /*border: 5px solid red;*/
}

.blog_wrapper
{
  /*border: 2px solid green;*/
  height: 530px;
}

.blog_heading_wrapper
{
  display: flex;
  justify-content: center;

}

.blog_heading
{
  color: #0a3450;
  font-size: 36px;
  font-weight: 600;
}

.blog_card_wrapper
{
  /*border: 2px solid orange;*/
  display: flex;
  height: auto;
  margin-top: 35px;
  width: 100%;
}

.blog_card
{
  border: 1px solid #eef1f3;
  border-radius: 10px;
  height: 100%;
  margin-right: 24px;
  width: 33%;
}

.blog_card:hover
{
  box-shadow: 0px 20px 80px rgba(202, 211, 221, 0.2);
  transition: .3s ease-in-out;
}

.blog_card:last-child
{
  margin-right: 0;
}

/*.blog_card_2*/
/*{*/
/*  !*border: 2px solid pink;*!*/
/*  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;*/
/*  height: 100%;*/
/*  width: 33%;*/
/*}*/

.blog_imgDiv
{
  height: 50%;
  /*border: 2px solid green;*/
}

.image
{
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.blog_content
{
  height: auto;
  padding: 20px;
}

.blog_title
{
  color: #0a3450;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
}

.blog_desc
{
  color: #607080;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding: 10px 0 0 0;
}

.case_info_link
{
  align-items: center;
  color: #1976d2;
  display: flex;
  font-weight: 300;
}

.case_info_link_wrap
{
  display: flex;
  padding: 20px 0 0 0;
}

.case_info_link_icon
{
  margin-left: 10px;
}

/*mobile-responsive*/
@media screen and (min-width: 320px) and (max-width: 767px)
{
  .blog_wrapper
  {
    height: auto;
  }

  .blog_heading
  {
    font-size: 24px;
    line-height: 1.5;
    text-align: left;
    width: 100%;
  }

  .blog_heading > p
  {
    text-align: left;
    width: 100%;
  }

  .blog_card_wrapper
  {
    display: block;
    height: auto;
    margin-top: 30px;
  }

  .blog_card
  {
    height: auto;
    margin-bottom: 16px;
    margin-right: 0;
    width: 100%;
  }

  .case_info_link_wrap
  {
    padding: 20px 0 20px 20px;
  }

  .blog_card:last-child
  {
    margin-bottom: 0;
  }
}

/*mobile-responsive*/

/*Tablet-responsive*/
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait)
{
  .blog_wrapper
  {
    height: auto;
  }

  .blog_heading
  {
    font-size: 28px;
    line-height: 1.5;
  }

  .blog_card_wrapper
  {
    height: auto;
    margin-top: 30px;
  }

  .blog_content
  {
    height: auto;
    padding: 20px;
  }

  .blog_title
  {
    font-size: 16px;
    line-height: 1.5;
    padding: 0;
    padding-bottom: 16px;
  }

  .blog_desc
  {
    line-height: 1.5;
    padding: 0;
  }

  .case_info_link_wrap
  {
    padding-left: 0;
    padding-top: 20px;
  }
}

/*Tablet-responsive*/
